# 0. 기본 정보
* 코드 작성자: 여서연
* 코드 작성일: 2024-05-31

# 1. 기초 설정

## 사용 라이브러리

In [1]:
import pandas as pd

## 기타 설정

In [2]:
# 데이터 프레임 열 전부 표시
pd.set_option('display.max_columns', None)

# 2. 수집 데이터 불러오기

## A. [환경부 국립환경과학원_골프장 농약사용량 DB](https://www.data.go.kr/data/15000937/openapi.do)

In [3]:
golf2020 = pd.read_csv('../data/golf_Gangwon_2020.csv')
golf2019 = pd.read_csv('../data/golf_Gangwon_2019.csv')
golf2018 = pd.read_csv('../data/golf_Gangwon_2018.csv')

In [4]:
golf2020['면적총계(m2)']

0     1007011.0
1      983642.0
2     1899828.0
3      165318.0
4      986626.0
        ...
56     929669.0
57    1045231.0
58     457558.0
59    1048906.0
60     344773.0
Name: 면적총계(m2), Length: 61, dtype: float64

In [5]:
# 시군구별 각 컬럼의 평균 구하기
golf2020_avg = golf2020.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()
golf2019_avg = golf2019.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()
golf2018_avg = golf2018.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()

In [6]:
golf2020_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                15 non-null     object
 1   면적총계(m2)           15 non-null     float64
 2   농약사용면적(m2)         15 non-null     float64
 3   농약미사용면적(m2)        15 non-null     float64
 4   총사용량_실물량(kg)       15 non-null     float64
 5   총사용량_성분량(kg)       15 non-null     float64
 6   농약사용_ha_성분량(kg)    15 non-null     float64
 7   농약사용_ha_실물량(kg)    15 non-null     float64
 8   전체면적대비_ha_성분량(kg)  15 non-null     float64
 9   전체면적대비_ha_실물량(kg)  15 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.3+ KB

In [7]:
golf2019_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                15 non-null     object
 1   면적총계(m2)           15 non-null     float64
 2   농약사용면적(m2)         15 non-null     float64
 3   농약미사용면적(m2)        15 non-null     float64
 4   총사용량_실물량(kg)       15 non-null     float64
 5   총사용량_성분량(kg)       15 non-null     float64
 6   농약사용_ha_성분량(kg)    15 non-null     float64
 7   농약사용_ha_실물량(kg)    15 non-null     float64
 8   전체면적대비_ha_성분량(kg)  15 non-null     float64
 9   전체면적대비_ha_실물량(kg)  15 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.3+ KB

In [8]:
golf2018_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                15 non-null     object
 1   면적총계(m2)           15 non-null     float64
 2   농약사용면적(m2)         15 non-null     float64
 3   농약미사용면적(m2)        15 non-null     float64
 4   총사용량_실물량(kg)       15 non-null     float64
 5   총사용량_성분량(kg)       15 non-null     float64
 6   농약사용_ha_성분량(kg)    15 non-null     float64
 7   농약사용_ha_실물량(kg)    15 non-null     float64
 8   전체면적대비_ha_성분량(kg)  15 non-null     float64
 9   전체면적대비_ha_실물량(kg)  15 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.3+ KB

## B. [강원특별자치도_강수량 통계](https://www.data.go.kr/data/3081221/fileData.do)

In [9]:
rain2020 = pd.read_csv('../data/강수량_20240526105254.csv', encoding='cp949', header=1)
rain2019 = pd.read_csv('../data/강수량_20240526105308.csv', encoding='cp949', header=1)
rain2018 = pd.read_csv('../data/강수량_20240526105317.csv', encoding='cp949', header=1)

In [10]:
# 월별 평균 강수량의 합계를 이용하여 연평균 강수량 계산
rain2020['연평균_강수량'] = rain2020['전체'] / 12
rain2019['연평균_강수량'] = rain2019['전체'] / 12
rain2018['연평균_강수량'] = rain2018['전체'] / 12

In [11]:
# 필요 없는 컬럼 제거
rain2020 = rain2020[['시군별','연평균_강수량']].drop(rain2020.index[0])
rain2019 = rain2019[['시군별','연평균_강수량']].drop(rain2019.index[0])
rain2018 = rain2018[['시군별','연평균_강수량']].drop(rain2018.index[0])

In [12]:
# 컬럼 이름 변경
rain2020.rename(columns={'시군별':'시군구'}, inplace=True)
rain2019.rename(columns={'시군별':'시군구'}, inplace=True)
rain2018.rename(columns={'시군별':'시군구'}, inplace=True)

In [13]:
rain2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [14]:
rain2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [15]:
rain2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

## C. [환경부 국립환경과학원_수질 DB](https://www.data.go.kr/data/15081073/openapi.do)

In [16]:
water2020 = pd.read_csv('../data/water_quality_Gangwon_2020.csv')
water2019 = pd.read_csv('../data/water_quality_Gangwon_2019.csv')
water2018 = pd.read_csv('../data/water_quality_Gangwon_2018.csv')

In [17]:
# 시군구별 수질(ml 당 총대장균군 수)의 평균 구하기
water2020_avg = water2020.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2019_avg = water2019.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2018_avg = water2018.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()

In [18]:
water2020_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [19]:
water2019_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [20]:
water2018_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

# 3. 최종 데이터 프레임 생성

In [21]:
golf2020_avg.sample()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg)
12,평창군,906593.857143,571521.992857,335071.864286,991.887143,261.56199,4.818961,16.814901,3.210091,10.823953

In [22]:
rain2020.sample()

   시군구     연평균_강수량
5  태백시  127.508333

In [23]:
water2020_avg.sample()

   시군구  측정값(총대장균군)
4  속초시  381.916667

In [24]:
def Merge3 (df1, df2, df3, col):
    # 세 개의 데이터프레임 병합
    merged_df = pd.merge(df1, df2, on=col, how='inner')
    merged_df = pd.merge(merged_df, df3, on=col, how='inner')

    return merged_df

In [25]:
df2020 = Merge3(golf2020_avg, rain2020, water2020_avg, '시군구')
df2019 = Merge3(golf2019_avg, rain2019, water2019_avg, '시군구')
df2018 = Merge3(golf2018_avg, rain2018, water2018_avg, '시군구')

In [26]:
train = pd.concat([df2018,df2019], ignore_index=True)
train.head()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,강릉시,582247.333333,335607.333333,246640.0,675.0685,233.595067,6.995625,21.057476,4.027363,11.899533,133.283333,8831.898734
1,고성군,921266.500000,513368.500000,407898.0,1489.3125,563.575175,7.799428,21.060081,4.129354,11.371300,148.083333,9176.044776
2,동해시,238565.000000,206953.000000,31612.0,226.6400,33.750000,1.630805,10.951279,1.414709,9.500136,119.708333,719.250000
3,삼척시,974748.500000,460192.500000,514556.0,1157.2950,256.518300,5.677880,24.945085,2.636115,11.860218,132.000000,3374.892857
4,속초시,455394.500000,224794.500000,230600.0,411.2500,127.052450,5.296649,16.721147,2.777307,8.460465,148.083333,2567.625000

In [27]:
test = df2020
test.head()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,강릉시,5.885358e+05,336963.000000,251572.79,1394.0600,385.532613,11.625277,43.827415,6.330546,23.250838,151.075000,3447.710843
1,고성군,1.228355e+06,684491.333333,543864.00,2394.0800,859.571027,12.092960,33.961476,6.750470,19.088488,173.816667,2983.030303
2,동해시,2.385650e+05,206953.000000,31612.00,1080.3320,267.240776,12.913114,52.201804,11.202011,45.284597,110.200000,1904.028571
3,삼척시,9.747485e+05,460192.500000,514556.00,992.4725,300.522001,6.631652,21.656875,3.087333,10.183989,128.825000,1078.357143
4,속초시,4.553945e+05,224794.500000,230600.00,534.6900,139.085350,5.735455,21.184061,2.961786,10.304701,173.816667,381.916667

In [28]:
train.to_csv('../data/train.csv', index=False, encoding='utf-8-sig')

In [29]:
test.to_csv('../data/test.csv', index=False, encoding='utf-8-sig')