# 0. 기본 정보
* 코드 작성자: 여서연
* 코드 작성일: 2024-05-31

# 1. 기초 설정

## 사용 라이브러리

In [1]:
import pandas as pd

## 기타 설정

In [2]:
# 데이터 프레임 열 전부 표시
pd.set_option('display.max_columns', None)

# 2. 수집 데이터 불러오기

## A. [환경부 국립환경과학원_골프장 농약사용량 DB](https://www.data.go.kr/data/15000937/openapi.do)

In [3]:
golf2020 = pd.read_csv('../data/golf_Gangwon_2020.csv')
golf2019 = pd.read_csv('../data/golf_Gangwon_2019.csv')
golf2018 = pd.read_csv('../data/golf_Gangwon_2018.csv')

In [4]:
golf2020['면적총계(m2)']

0     1007011.0
1      983642.0
2     1899828.0
3      165318.0
4      986626.0
        ...
56     929669.0
57    1045231.0
58     457558.0
59    1048906.0
60     344773.0
Name: 면적총계(m2), Length: 61, dtype: float64

In [5]:
# 시군구별 각 컬럼의 평균 구하기
golf2020_avg = golf2020.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()
golf2019_avg = golf2019.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()
golf2018_avg = golf2018.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()

In [6]:
golf2020_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                15 non-null     object
 1   면적총계(m2)           15 non-null     float64
 2   농약사용면적(m2)         15 non-null     float64
 3   농약미사용면적(m2)        15 non-null     float64
 4   총사용량_실물량(kg)       15 non-null     float64
 5   총사용량_성분량(kg)       15 non-null     float64
 6   농약사용_ha_성분량(kg)    15 non-null     float64
 7   농약사용_ha_실물량(kg)    15 non-null     float64
 8   전체면적대비_ha_성분량(kg)  15 non-null     float64
 9   전체면적대비_ha_실물량(kg)  15 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.3+ KB

In [7]:
golf2019_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                15 non-null     object
 1   면적총계(m2)           15 non-null     float64
 2   농약사용면적(m2)         15 non-null     float64
 3   농약미사용면적(m2)        15 non-null     float64
 4   총사용량_실물량(kg)       15 non-null     float64
 5   총사용량_성분량(kg)       15 non-null     float64
 6   농약사용_ha_성분량(kg)    15 non-null     float64
 7   농약사용_ha_실물량(kg)    15 non-null     float64
 8   전체면적대비_ha_성분량(kg)  15 non-null     float64
 9   전체면적대비_ha_실물량(kg)  15 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.3+ KB

In [8]:
golf2018_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                15 non-null     object
 1   면적총계(m2)           15 non-null     float64
 2   농약사용면적(m2)         15 non-null     float64
 3   농약미사용면적(m2)        15 non-null     float64
 4   총사용량_실물량(kg)       15 non-null     float64
 5   총사용량_성분량(kg)       15 non-null     float64
 6   농약사용_ha_성분량(kg)    15 non-null     float64
 7   농약사용_ha_실물량(kg)    15 non-null     float64
 8   전체면적대비_ha_성분량(kg)  15 non-null     float64
 9   전체면적대비_ha_실물량(kg)  15 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.3+ KB

## B. [강원특별자치도_강수량 통계](https://www.data.go.kr/data/3081221/fileData.do)

In [9]:
rain2020 = pd.read_csv('../data/강수량_20240526105254.csv', encoding='cp949', header=1)
rain2019 = pd.read_csv('../data/강수량_20240526105308.csv', encoding='cp949', header=1)
rain2018 = pd.read_csv('../data/강수량_20240526105317.csv', encoding='cp949', header=1)

In [10]:
# 월별 평균 강수량의 합계를 이용하여 연평균 강수량 계산
rain2020['연평균_강수량'] = rain2020['전체'] / 12
rain2019['연평균_강수량'] = rain2019['전체'] / 12
rain2018['연평균_강수량'] = rain2018['전체'] / 12

In [11]:
# 필요 없는 컬럼 제거
rain2020 = rain2020[['시군별','연평균_강수량']].drop(rain2020.index[0])
rain2019 = rain2019[['시군별','연평균_강수량']].drop(rain2019.index[0])
rain2018 = rain2018[['시군별','연평균_강수량']].drop(rain2018.index[0])

In [12]:
# 컬럼 이름 변경
rain2020.rename(columns={'시군별':'시군구'}, inplace=True)
rain2019.rename(columns={'시군별':'시군구'}, inplace=True)
rain2018.rename(columns={'시군별':'시군구'}, inplace=True)

In [13]:
rain2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [14]:
rain2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [15]:
rain2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

## C. [환경부 국립환경과학원_수질 DB](https://www.data.go.kr/data/15081073/openapi.do)

In [16]:
water2020 = pd.read_csv('../data/water_quality_Gangwon_2020.csv')
water2019 = pd.read_csv('../data/water_quality_Gangwon_2019.csv')
water2018 = pd.read_csv('../data/water_quality_Gangwon_2018.csv')

In [17]:
# 시군구별 수질(ml 당 총대장균군 수)의 평균 구하기
water2020_avg = water2020.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2019_avg = water2019.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2018_avg = water2018.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()

In [18]:
water2020_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [19]:
water2019_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [20]:
water2018_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

# 3. 최종 데이터 프레임 생성

In [21]:
golf2020_avg.sample()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg)
4,속초시,455394.5,224794.5,230600.0,534.69,139.08535,5.735455,21.184061,2.961786,10.304701

In [22]:
rain2020.sample()

    시군구     연평균_강수량
11  평창군  146.316667

In [23]:
water2020_avg.sample()

    시군구   측정값(총대장균군)
13  태백시  1762.391304

In [24]:
def Merge3 (df1, df2, df3, col):
    # 세 개의 데이터프레임 병합
    merged_df = pd.merge(df1, df2, on=col, how='inner')
    merged_df = pd.merge(merged_df, df3, on=col, how='inner')

    return merged_df

In [25]:
df2020 = Merge3(golf2020_avg, rain2020, water2020_avg, '시군구')
df2019 = Merge3(golf2019_avg, rain2019, water2019_avg, '시군구')
df2018 = Merge3(golf2018_avg, rain2018, water2018_avg, '시군구')

In [26]:
train = pd.concat([df2018,df2019], ignore_index=True)
train.head()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,강릉시,582247.333333,335607.333333,246640.0,675.0685,233.595067,6.995625,21.057476,4.027363,11.899533,133.283333,8831.898734
1,고성군,921266.500000,513368.500000,407898.0,1489.3125,563.575175,7.799428,21.060081,4.129354,11.371300,148.083333,9176.044776
2,동해시,238565.000000,206953.000000,31612.0,226.6400,33.750000,1.630805,10.951279,1.414709,9.500136,119.708333,719.250000
3,삼척시,974748.500000,460192.500000,514556.0,1157.2950,256.518300,5.677880,24.945085,2.636115,11.860218,132.000000,3374.892857
4,속초시,455394.500000,224794.500000,230600.0,411.2500,127.052450,5.296649,16.721147,2.777307,8.460465,148.083333,2567.625000

In [27]:
test = df2020
test.head()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,강릉시,5.885358e+05,336963.000000,251572.79,1394.0600,385.532613,11.625277,43.827415,6.330546,23.250838,151.075000,3447.710843
1,고성군,1.228355e+06,684491.333333,543864.00,2394.0800,859.571027,12.092960,33.961476,6.750470,19.088488,173.816667,2983.030303
2,동해시,2.385650e+05,206953.000000,31612.00,1080.3320,267.240776,12.913114,52.201804,11.202011,45.284597,110.200000,1904.028571
3,삼척시,9.747485e+05,460192.500000,514556.00,992.4725,300.522001,6.631652,21.656875,3.087333,10.183989,128.825000,1078.357143
4,속초시,4.553945e+05,224794.500000,230600.00,534.6900,139.085350,5.735455,21.184061,2.961786,10.304701,173.816667,381.916667

# 2-1. 수집 데이터 불러오기 (경기도)

## A. [환경부 국립환경과학원_골프장 농약사용량 DB](https://www.data.go.kr/data/15000937/openapi.do)

In [28]:
golf2020_ = pd.read_csv('../data/golf_Gyeonggi_2020.csv')
golf2019_ = pd.read_csv('../data/golf_Gyeonggi_2019.csv')
golf2018_ = pd.read_csv('../data/golf_Gyeonggi_2018.csv')

In [29]:
# 시군구별 각 컬럼의 평균 구하기
golf2020_avg_ = golf2020_.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()
golf2019_avg_ = golf2019_.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()
golf2018_avg_ = golf2018_.groupby('시군구')[[
    '면적총계(m2)', '농약사용면적(m2)', '농약미사용면적(m2)', '총사용량_실물량(kg)', '총사용량_성분량(kg)',
    '농약사용_ha_성분량(kg)', '농약사용_ha_실물량(kg)', '전체면적대비_ha_성분량(kg)','전체면적대비_ha_실물량(kg)'
    ]].mean().reset_index()

In [30]:
golf2020_avg_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                23 non-null     object
 1   면적총계(m2)           23 non-null     float64
 2   농약사용면적(m2)         23 non-null     float64
 3   농약미사용면적(m2)        23 non-null     float64
 4   총사용량_실물량(kg)       23 non-null     float64
 5   총사용량_성분량(kg)       23 non-null     float64
 6   농약사용_ha_성분량(kg)    23 non-null     float64
 7   농약사용_ha_실물량(kg)    23 non-null     float64
 8   전체면적대비_ha_성분량(kg)  23 non-null     float64
 9   전체면적대비_ha_실물량(kg)  23 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.9+ KB

In [31]:
golf2019_avg_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                23 non-null     object
 1   면적총계(m2)           23 non-null     float64
 2   농약사용면적(m2)         23 non-null     float64
 3   농약미사용면적(m2)        23 non-null     float64
 4   총사용량_실물량(kg)       23 non-null     float64
 5   총사용량_성분량(kg)       23 non-null     float64
 6   농약사용_ha_성분량(kg)    23 non-null     float64
 7   농약사용_ha_실물량(kg)    23 non-null     float64
 8   전체면적대비_ha_성분량(kg)  23 non-null     float64
 9   전체면적대비_ha_실물량(kg)  23 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.9+ KB

In [32]:
golf2018_avg_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   시군구                23 non-null     object
 1   면적총계(m2)           23 non-null     float64
 2   농약사용면적(m2)         23 non-null     float64
 3   농약미사용면적(m2)        23 non-null     float64
 4   총사용량_실물량(kg)       23 non-null     float64
 5   총사용량_성분량(kg)       23 non-null     float64
 6   농약사용_ha_성분량(kg)    23 non-null     float64
 7   농약사용_ha_실물량(kg)    23 non-null     float64
 8   전체면적대비_ha_성분량(kg)  23 non-null     float64
 9   전체면적대비_ha_실물량(kg)  23 non-null     float64
dtypes: float64(9), object(1)
memory usage: 1.9+ KB

## B. [강원특별자치도_강수량 통계](https://www.data.go.kr/data/3081221/fileData.do)

In [33]:
rain2020_ = pd.read_csv('../data/rain_Gyeonggi_2020.csv')
rain2019_ = pd.read_csv('../data/rain_Gyeonggi_2019.csv')
rain2018_ = pd.read_csv('../data/rain_Gyeonggi_2018.csv')

In [34]:
# 월별 평균 강수량의 합계를 이용하여 연평균 강수량 계산
rain2020_['연평균_강수량'] = rain2020_['계'] / 12
rain2019_['연평균_강수량'] = rain2019_['계'] / 12
rain2018_['연평균_강수량'] = rain2018_['계'] / 12

In [35]:
# 필요 없는 컬럼 제거
rain2020_ = rain2020_[['시군별(2)','연평균_강수량']].drop(rain2020_.index[0])
rain2019_ = rain2019_[['시군별(2)','연평균_강수량']].drop(rain2019_.index[0])
rain2018_ = rain2018_[['시군별(2)','연평균_강수량']].drop(rain2018_.index[0])

In [36]:
# 컬럼 이름 변경
rain2020_.rename(columns={'시군별(2)':'시군구'}, inplace=True)
rain2019_.rename(columns={'시군별(2)':'시군구'}, inplace=True)
rain2018_.rename(columns={'시군별(2)':'시군구'}, inplace=True)

In [37]:
rain2020_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 1 to 30
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      30 non-null     object
 1   연평균_강수량  30 non-null     float64
dtypes: float64(1), object(1)
memory usage: 612.0+ bytes

In [38]:
rain2019_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 1 to 30
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      30 non-null     object
 1   연평균_강수량  30 non-null     float64
dtypes: float64(1), object(1)
memory usage: 612.0+ bytes

In [39]:
rain2018_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 1 to 30
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      30 non-null     object
 1   연평균_강수량  30 non-null     float64
dtypes: float64(1), object(1)
memory usage: 612.0+ bytes

## C. [환경부 국립환경과학원_수질 DB](https://www.data.go.kr/data/15081073/openapi.do)

In [40]:
water2020_ = pd.read_csv('../data/water_quality_Gyeonggi_2020.csv')
water2019_ = pd.read_csv('../data/water_quality_Gyeonggi_2019.csv')
water2018_ = pd.read_csv('../data/water_quality_Gyeonggi_2018.csv')

In [41]:
# 시군구별 수질(ml 당 총대장균군 수)의 평균 구하기
water2020_avg_ = water2020_.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2019_avg_ = water2019_.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2018_avg_ = water2018_.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()

In [42]:
water2020_avg_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         29 non-null     object
 1   측정값(총대장균군)  29 non-null     float64
dtypes: float64(1), object(1)
memory usage: 596.0+ bytes

In [43]:
water2019_avg_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         29 non-null     object
 1   측정값(총대장균군)  29 non-null     float64
dtypes: float64(1), object(1)
memory usage: 596.0+ bytes

In [44]:
water2018_avg_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         29 non-null     object
 1   측정값(총대장균군)  29 non-null     float64
dtypes: float64(1), object(1)
memory usage: 596.0+ bytes

# 3-1. 최종 데이터 프레임 생성 (경기도)

In [45]:
golf2020_avg_.sample()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg)
6,동두천시,1258590.0,745038.0,513552.0,706.1,203.6521,2.733446,9.477369,1.618097,5.610246

In [46]:
rain2020_.sample()

   시군구  연평균_강수량
4  광명시  119.075

In [47]:
water2020_avg_.sample()

   시군구   측정값(총대장균군)
3  구리시  6911.714286

In [48]:
df2020_ = Merge3(golf2020_avg_, rain2020_, water2020_avg_, '시군구')
df2019_ = Merge3(golf2019_avg_, rain2019_, water2019_avg_, '시군구')
df2018_ = Merge3(golf2018_avg_, rain2018_, water2018_avg_, '시군구')

In [49]:
train_ = pd.concat([df2018_,df2019_], ignore_index=True)
train_.head()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,가평군,1101644.75,1318093.50,505348.00,1174.640000,361.526412,5.785399,19.218019,3.844938,12.108477,115.708333,2428.129496
1,고양시,531465.00,247517.00,283948.00,654.578571,250.326157,9.938118,28.063681,4.472551,12.719417,127.875000,50497.183099
2,광주시,1250321.00,606857.75,643463.25,1285.663563,369.429287,6.669020,23.389573,2.603410,8.879803,113.283333,41858.719298
3,군포시,878287.00,749526.00,128761.00,1687.059400,531.159300,7.086603,22.508351,6.047673,19.208521,79.958333,20666.666667
4,김포시,932683.00,846858.00,85825.00,1889.315000,319.595800,3.773901,22.309702,3.426628,20.256775,92.983333,174318.181818

In [50]:
train_concat = pd.concat([train,train_], ignore_index=True)
train_concat

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,강릉시,5.822473e+05,335607.333333,2.466400e+05,675.0685,233.595067,6.995625,21.057476,4.027363,11.899533,133.283333,8831.898734
1,고성군,9.212665e+05,513368.500000,4.078980e+05,1489.3125,563.575175,7.799428,21.060081,4.129354,11.371300,148.083333,9176.044776
2,동해시,2.385650e+05,206953.000000,3.161200e+04,226.6400,33.750000,1.630805,10.951279,1.414709,9.500136,119.708333,719.250000
3,삼척시,9.747485e+05,460192.500000,5.145560e+05,1157.2950,256.518300,5.677880,24.945085,2.636115,11.860218,132.000000,3374.892857
4,속초시,4.553945e+05,224794.500000,2.306000e+05,411.2500,127.052450,5.296649,16.721147,2.777307,8.460465,148.083333,2567.625000
...,...,...,...,...,...,...,...,...,...,...,...,...
69,파주시,9.077521e+05,466115.116667,4.419703e+05,1004.5600,252.441111,7.494444,28.562222,3.340000,12.903333,85.200000,15041.722689
70,평택시,5.312105e+05,471743.500000,6.911050e+04,813.5700,235.660000,5.385000,19.290000,4.415000,15.720000,66.225000,125415.875000
71,포천시,1.299368e+06,739149.000000,5.602190e+05,1205.2100,392.645000,4.887500,14.384167,2.603333,7.893333,77.633333,11574.261905
72,하남시,1.807602e+06,356747.000000,1.450855e+06,1678.0500,391.700000,10.980000,47.040000,2.170000,9.280000,88.208333,33090.833333
73,화성시,8.458319e+05,469161.429000,3.766705e+05,1000.8100,330.174000,7.739000,27.115000,4.537000,15.844000,74.541667,89635.578947

In [51]:
train.to_csv('../data/train.csv', index=False, encoding='utf-8-sig')

In [52]:
test_ = df2020_
test_.head()

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,가평군,1.230726e+06,639620.111111,591106.222222,1401.436667,391.526588,6.348680,24.032283,3.490764,13.125763,136.316667,1630.954861
1,고양시,5.297209e+05,245362.328571,284358.582857,682.470714,231.211796,10.531219,33.081403,5.310265,17.730959,122.375000,24030.138889
2,광주시,1.254388e+06,761847.415000,492541.055000,1731.801375,461.353666,5.973397,22.009155,3.213253,11.648915,133.066667,93507.275000
3,군포시,8.782870e+05,749526.000000,128761.000000,1863.280000,663.544345,8.852853,24.859445,7.554983,21.214933,132.375000,18555.000000
4,김포시,9.326830e+05,846858.000000,85825.000000,1890.975000,492.556478,5.816282,22.329304,5.281071,20.274573,126.750000,53566.666667

In [53]:
test_concat = pd.concat([test,test_], ignore_index=True)
test_concat

,시군구,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),연평균_강수량,측정값(총대장균군)
0,강릉시,5.885358e+05,336963.000000,2.515728e+05,1394.060000,385.532613,11.625277,43.827415,6.330546,23.250838,151.075000,3.447711e+03
1,고성군,1.228355e+06,684491.333333,5.438640e+05,2394.080000,859.571027,12.092960,33.961476,6.750470,19.088488,173.816667,2.983030e+03
2,동해시,2.385650e+05,206953.000000,3.161200e+04,1080.332000,267.240776,12.913114,52.201804,11.202011,45.284597,110.200000,1.904029e+03
3,삼척시,9.747485e+05,460192.500000,5.145560e+05,992.472500,300.522001,6.631652,21.656875,3.087333,10.183989,128.825000,1.078357e+03
4,속초시,4.553945e+05,224794.500000,2.306000e+05,534.690000,139.085350,5.735455,21.184061,2.961786,10.304701,173.816667,3.819167e+02
5,양양군,1.430946e+06,886057.000000,5.448890e+05,638.820000,235.510260,2.657958,7.209694,1.645836,4.464319,173.816667,1.877647e+03
6,영월군,2.931330e+05,116447.000000,1.766860e+05,384.700000,95.457800,8.197532,33.036489,3.256467,13.123736,112.008333,1.631645e+03
7,원주시,7.228180e+05,357558.100000,3.652599e+05,358.032550,102.347668,4.589016,16.003195,2.223325,8.122373,109.750000,1.476169e+04
8,정선군,7.982303e+05,515089.300000,2.831410e+05,640.304000,163.338985,3.233484,14.285802,1.942802,8.247725,108.783333,2.010521e+03
9,철원군,8.766790e+05,227353.000000,6.493260e+05,670.850000,197.412600,8.683088,29.506978,2.251823,7.652174,145.775000,5.407917e+03
10,춘천시,1.189160e+06,599013.669231,5.901468e+05,1254.222423,451.655223,9.887521,25.972399,4.131822,11.775423,129.241667,2.911962e+03
11,태백시,7.513945e+05,670776.500000,8.061800e+04,210.250000,83.227445,1.279436,3.234908,1.139671,2.881500,127.508333,1.762391e+03
12,평창군,9.065939e+05,571521.992857,3.350719e+05,991.887143,261.561990,4.818961,16.814901,3.210091,10.823953,146.316667,3.531362e+03
13,홍천군,1.177479e+06,588238.550000,5.892402e+05,2190.621500,637.988548,11.169846,37.289859,5.239351,17.840312,123.816667,5.707333e+03
14,횡성군,1.152638e+06,600282.800000,5.523550e+05,1534.007600,503.085683,9.710184,30.637675,4.752430,14.567907,109.750000,9.105899e+03
15,가평군,1.230726e+06,639620.111111,5.911062e+05,1401.436667,391.526588,6.348680,24.032283,3.490764,13.125763,136.316667,1.630955e+03
16,고양시,5.297209e+05,245362.328571,2.843586e+05,682.470714,231.211796,10.531219,33.081403,5.310265,17.730959,122.375000,2.403014e+04
17,광주시,1.254388e+06,761847.415000,4.925411e+05,1731.801375,461.353666,5.973397,22.009155,3.213253,11.648915,133.066667,9.350727e+04
18,군포시,8.782870e+05,749526.000000,1.287610e+05,1863.280000,663.544345,8.852853,24.859445,7.554983,21.214933,132.375000,1.855500e+04
19,김포시,9.326830e+05,846858.000000,8.582500e+04,1890.975000,492.556478,5.816282,22.329304,5.281071,20.274573,126.750000,5.356667e+04
20,남양주시,8.739840e+05,639285.911667,2.346981e+05,869.641833,212.886479,3.373970,14.652415,2.344384,9.536088,140.391667,3.206291e+04
21,동두천시,1.258590e+06,745038.000000,5.135520e+05,706.100000,203.652100,2.733446,9.477369,1.618097,5.610246,136.883333,2.591750e+05
22,성남시,5.148907e+05,243736.333333,2.711543e+05,713.197467,246.721182,7.606697,21.679002,4.282891,12.075231,132.875000,1.756611e+04
23,시흥시,5.751391e+05,304022.100000,2.711170e+05,460.056000,137.912955,3.645059,14.468783,2.177164,7.383530,115.375000,2.085831e+06
24,안산시,1.325252e+06,645015.245000,6.802363e+05,1515.020000,483.159543,7.526361,23.766362,3.759488,11.704539,121.841667,2.005473e+06
25,안성시,9.476146e+05,568974.857143,3.786398e+05,1262.304286,375.242038,7.035618,22.816143,4.047818,13.275877,141.583333,3.762133e+04
26,양주시,1.047766e+06,493739.070000,5.540266e+05,1821.993333,454.641865,10.061965,40.388288,5.268464,21.223550,136.033333,1.051333e+05
27,양평군,1.516894e+06,722347.300000,7.945470e+05,1567.786400,514.010564,7.328289,21.562247,3.520925,10.325134,113.866667,8.328869e+02
28,여주시,1.064483e+06,638177.258696,4.263058e+05,1112.152278,327.452598,5.498492,18.875225,3.214746,11.036202,136.775000,1.442562e+04
29,연천군,1.308177e+06,673855.000000,6.343220e+05,2609.520000,815.125800,12.096457,38.725245,6.231005,19.947759,136.991667,2.088294e+04
30,용인시,1.129842e+06,723402.291613,4.064397e+05,1322.691484,428.731580,6.119823,19.455616,3.717951,11.800561,143.875000,8.401365e+04
31,이천시,9.103722e+05,536887.830667,3.734844e+05,1578.456533,439.153665,8.265924,29.911073,5.104230,18.348310,141.925000,1.265045e+05
32,파주시,8.071730e+05,449241.766667,3.579313e+05,1789.889222,571.207013,14.550667,43.977483,7.122730,22.011444,124.850000,3.120949e+04
33,평택시,5.317105e+05,443167.000000,8.854350e+04,654.185000,193.007750,4.258758,15.778659,3.403296,12.470777,127.833333,1.742331e+05
34,포천시,1.367073e+06,766380.384615,6.006922e+05,1201.356615,380.273399,4.472743,13.686708,2.539676,7.841371,133.441667,4.648754e+04
35,하남시,1.807601e+06,356746.850000,1.450855e+06,2178.890000,630.651065,17.677831,61.076643,3.488884,12.054040,133.625000,4.359708e+04
36,화성시,8.426664e+05,467863.529000,3.748029e+05,1053.734000,354.939955,9.213647,27.447529,5.726920,16.876035,123.983333,1.454963e+05

In [54]:
test.to_csv('../data/test.csv', index=False, encoding='utf-8-sig')