# 0. 기본 정보
* 코드 작성자: 여서연
* 코드 작성일: 2024-05-31

# 1. 기초 설정

## 사용 라이브러리

In [1]:
import pandas as pd

## 기타 설정

In [2]:
# 데이터 프레임 열 전부 표시
pd.set_option('display.max_columns', None)

# 2. 수집 데이터 불러오기

## A. [환경부 국립환경과학원_골프장 농약사용량 DB](https://www.data.go.kr/data/15000937/openapi.do)

In [3]:
golf2020 = pd.read_csv('../data/golf_Gangwon_2020.csv')
golf2019 = pd.read_csv('../data/golf_Gangwon_2019.csv')
golf2018 = pd.read_csv('../data/golf_Gangwon_2018.csv')

In [4]:
for df in [golf2020, golf2019, golf2018]:
    df['농약사용_ha_농도(%)'] = round((df['농약사용_ha_성분량(kg)'] / df['농약사용_ha_실물량(kg)']) * 100, 2)

In [5]:
# 시군구별 농약 사용 농도의 평균 구하기
golf2020_avg = golf2020.groupby('시군구')['농약사용_ha_농도(%)'].mean().reset_index()
golf2019_avg = golf2019.groupby('시군구')['농약사용_ha_농도(%)'].mean().reset_index()
golf2018_avg = golf2018.groupby('시군구')['농약사용_ha_농도(%)'].mean().reset_index()

In [6]:
golf2020_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시군구            15 non-null     object
 1   농약사용_ha_농도(%)  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 372.0+ bytes

In [7]:
golf2019_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시군구            15 non-null     object
 1   농약사용_ha_농도(%)  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 372.0+ bytes

In [8]:
golf2018_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시군구            15 non-null     object
 1   농약사용_ha_농도(%)  14 non-null     float64
dtypes: float64(1), object(1)
memory usage: 372.0+ bytes

In [9]:
golf2018[golf2018['시군구']=='태백시']

,지점표준코드,입력년도,골프장명,소재지,홀수,시도,시군구,개장년도,골프장 형태,면적총계(m2),농약사용면적(m2),농약미사용면적(m2),총사용량_실물량(kg),총사용량_성분량(kg),농약사용_ha_성분량(kg),농약사용_ha_실물량(kg),전체면적대비_ha_성분량(kg),전체면적대비_ha_실물량(kg),농약사용_ha_농도(%)
7,42190G040100001,2018,오투리조트CC,강원도 태백시 황지동 산531-2,18,강원도,태백시,2008,대중제,1045231.0,935739.0,109492.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
8,42190G040200001,2018,오투리조트골프,강원도 태백시 황지동 산531-2,9,강원도,태백시,2008,대중제,457558.0,405814.0,51744.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

## B. [강원특별자치도_강수량 통계](https://www.data.go.kr/data/3081221/fileData.do)

In [10]:
rain2020 = pd.read_csv('../data/강수량_20240526105254.csv', encoding='cp949', header=1)
rain2019 = pd.read_csv('../data/강수량_20240526105308.csv', encoding='cp949', header=1)
rain2018 = pd.read_csv('../data/강수량_20240526105317.csv', encoding='cp949', header=1)

In [11]:
# 필요 없는 컬럼 제거
rain2020 = rain2020[['시군별','전체']].drop(rain2020.index[0])
rain2019 = rain2019[['시군별','전체']].drop(rain2019.index[0])
rain2018 = rain2018[['시군별','전체']].drop(rain2018.index[0])

In [12]:
# 컬럼 이름 변경
rain2020.rename(columns={'시군별':'시군구','전체':'연평균_강수량'}, inplace=True)
rain2019.rename(columns={'시군별':'시군구','전체':'연평균_강수량'}, inplace=True)
rain2018.rename(columns={'시군별':'시군구','전체':'연평균_강수량'}, inplace=True)

In [13]:
rain2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [14]:
rain2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [15]:
rain2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 18
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   시군구      18 non-null     object
 1   연평균_강수량  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

## C. [환경부 국립환경과학원_수질 DB](https://www.data.go.kr/data/15081073/openapi.do)

In [16]:
water2020 = pd.read_csv('../data/water_quality_Gangwon_2020.csv')
water2019 = pd.read_csv('../data/water_quality_Gangwon_2019.csv')
water2018 = pd.read_csv('../data/water_quality_Gangwon_2018.csv')

In [17]:
# 시군구별 수질(ml 당 총대장균군 수)의 평균 구하기
water2020_avg = water2020.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2019_avg = water2019.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()
water2018_avg = water2018.groupby('시군구')['측정값(총대장균군)'].mean().reset_index()

In [18]:
water2020_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [19]:
water2019_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

In [20]:
water2018_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   시군구         18 non-null     object
 1   측정값(총대장균군)  18 non-null     float64
dtypes: float64(1), object(1)
memory usage: 420.0+ bytes

# 3. 최종 데이터 프레임 생성

In [21]:
golf2020_avg.sample()

    시군구  농약사용_ha_농도(%)
14  횡성군         31.688

In [22]:
rain2020.sample()

   시군구  연평균_강수량
9  횡성군   1317.0

In [23]:
water2020_avg.sample()

    시군구  측정값(총대장균군)
16  화천군  683.568966

In [24]:
def Merge3 (df1, df2, df3, col):
    # 세 개의 데이터프레임 병합
    merged_df = pd.merge(df1, df2, on=col, how='inner')
    merged_df = pd.merge(merged_df, df3, on=col, how='inner')

    return merged_df

In [25]:
df2020 = Merge3(golf2020_avg, rain2020, water2020_avg, '시군구')
df2019 = Merge3(golf2019_avg, rain2019, water2019_avg, '시군구')
df2018 = Merge3(golf2018_avg, rain2018, water2018_avg, '시군구')

In [26]:
train = pd.concat([df2018,df2019], ignore_index=True)
train.head()

   시군구  농약사용_ha_농도(%)  연평균_강수량   측정값(총대장균군)
0  강릉시        35.4400   1599.4  8831.898734
1  고성군        32.2025   1777.0  9176.044776
2  동해시        14.8900   1436.5   719.250000
3  삼척시        24.8700   1584.0  3374.892857
4  속초시        33.4400   1777.0  2567.625000

In [27]:
train.to_csv('../data/train.csv', index=False, encoding='utf-8-sig')

In [28]:
test = df2020
test.head()

   시군구  농약사용_ha_농도(%)  연평균_강수량   측정값(총대장균군)
0  강릉시      29.706667   1812.9  3447.710843
1  고성군      35.220000   2085.8  2983.030303
2  동해시      24.740000   1322.4  1904.028571
3  삼척시      30.020000   1545.9  1078.357143
4  속초시      30.790000   2085.8   381.916667

In [29]:
test.to_csv('../data/test.csv', index=False, encoding='utf-8-sig')